In [1]:
import numpy as np

import pandas as pd

In [8]:
df = pd.read_csv("country_all.csv")

In [9]:
df.head()

,Unnamed: 0,geometry_type,coordinates,calculatedAt,created,from,to,parameterId,qcStatus,timeResolution,value,type,ID
0,0,Point,"[11.7644, 55.9594]",2018-11-21T11:55:28.157000,2021-10-25T09:22:38.182857+00:00,2014-12-09T00:00:00.001000+01:00,2014-12-10T00:00:00+01:00,no_summer_days,manual,day,0.0,Feature,2027729c-c353-71eb-cb26-66dd48ec6fae
1,1,Point,"[11.7644, 55.9594]",2016-11-17T15:43:15.559000,2021-10-25T09:22:38.168998+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,temp_soil_30,none,hour,4.9,Feature,37dad45e-41a9-b3f6-4ace-58e609ffa49e
2,2,Point,"[11.7644, 55.9594]",2016-11-17T14:55:15.433000,2021-10-25T09:22:38.156281+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,temp_grass,none,hour,0.1,Feature,395c0cb3-61b2-82c8-3f7e-e460dbacda92
3,3,Point,"[11.7644, 55.9594]",2018-01-04T12:08:57.949000,2021-10-25T09:22:38.172761+00:00,2014-12-09T00:00:00.001000+01:00,2014-12-10T00:00:00+01:00,acc_precip,manual,day,0.7,Feature,451b54c8-4e88-9d60-660c-394dee202857
4,4,Point,"[11.7644, 55.9594]",2016-11-17T15:57:27.574000,2021-10-25T09:22:38.171461+00:00,2014-12-09T00:00:00.001000+01:00,2014-12-10T00:00:00+01:00,mean_pressure,manual,day,1018.9,Feature,4cf4c8da-3c91-1a1b-1dd1-0f7c40471da2

In [10]:
df.drop("Unnamed: 0",axis=1,inplace=True)
df.drop("geometry_type",axis=1,inplace=True)
df.drop("coordinates",axis=1,inplace=True)
df.drop("calculatedAt",axis=1,inplace=True)
df.drop("created",axis=1,inplace=True)
df.drop("from",axis=1,inplace=True)
df.drop("ID",axis=1,inplace=True)
df.drop("type",axis=1,inplace=True)

In [12]:
df.sort_values(by="to",inplace=True)

In [13]:
df.head()

,to,parameterId,qcStatus,timeResolution,value
967388,2011-01-01T00:00:00+00:00,max_wind_speed_3sec,manual,hour,27.4
967449,2011-01-01T00:00:00+00:00,min_temp,manual,hour,1.4
967446,2011-01-01T00:00:00+00:00,bright_sunshine,manual,hour,0.0
967442,2011-01-01T00:00:00+00:00,mean_wind_dir,manual,hour,269.0
967457,2011-01-01T00:00:00+00:00,acc_precip,manual,hour,0.2

In [14]:
df.tail()

,to,parameterId,qcStatus,timeResolution,value
382986,2023-01-01T00:00:00+01:00,mean_wind_speed,none,year,5.1
382987,2023-01-01T00:00:00+01:00,no_tropical_nights,none,year,0.0
382991,2023-01-01T00:00:00+01:00,no_ice_days,none,year,0.0
382996,2023-01-01T00:00:00+01:00,min_temp,none,year,-8.7
1007131,2023-01-01T06:00:00+00:00,snow_depth,none,year,12.0

In [15]:
df.to_csv("Countries_processed.csv")